*{
	box-sizing: border-box;
}
html, body{
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 0;
	}

h1{
	text-align: center;
	font-size: 45px;
}

#chess{  
	padding-bottom: 0;
	margin: 0;
	background-color: blue;
	display: inline-block;
	float: left;
}

#log_box{
	width : 436px;
	height :760px;
	float: left;
	display: inline-block;
	background-color: rgb(211,211,211) ;
	border: 3px solid rgb(130,130,130);
}

.Timer{
	text-align: center;
	font-size: 45px;
	display: inline;
	background-color: red;
}